<?xml version="1.0" encoding="utf-8"?><!--
  ~ Created by Evgeny V. Lobach on 03.10.18 19:48
  ~ Copyright (c) 2018 | www.itstudio.app | All rights reserved.
  ~ Last modified 03.10.18 19:46
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.itstudio.exercise01forcheckup">

    <!--<uses-permission android:name="android.permission.INTERNET" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity" />
    </application>

</manifest>